[Service]
ExecStart=
ExecStart=/usr/local/bin/k3s server {{ k3s_server_args }} --kube-apiserver-arg=audit-policy-file={{ k3s_audit_policy_path }} --kube-apiserver-arg=audit-log-path=/var/log/kubernetes/audit.log --kube-apiserver-arg=audit-log-maxage={{ k3s_audit_log_maxage }} --kube-apiserver-arg=audit-log-maxbackup={{ k3s_audit_log_maxbackup }} --kube-apiserver-arg=audit-log-maxsize={{ k3s_audit_log_maxsize }}
