global:
  envFrom:
    - secretRef:
        name: {{ authentik_runtime_secret_name }}
{% if authentik_web_workers is defined %}
  env:
    - name: AUTHENTIK_WEB__WORKERS
      value: "{{ authentik_web_workers }}"
{% endif %}
  volumes:
    - name: authentik-secrets
      secret:
        secretName: {{ authentik_runtime_secret_name }}
  volumeMounts:
    - name: authentik-secrets
      mountPath: /authentik-secrets
      readOnly: true

authentik:
  log_level: {{ authentik_log_level }}
  secret_key: "file:///authentik-secrets/secret_key"
  error_reporting:
    enabled: false
  web:
    path: {{ authentik_web_path }}
  postgresql:
    password: "file:///authentik-secrets/password"

blueprints:
  configMaps:
{% if authentik_blueprints_enabled %}
    - {{ authentik_blueprints_configmap_name }}
{% endif %}

server:
  replicas: {{ authentik_server_replicas }}
  ingress:
    enabled: false

worker:
  replicas: {{ authentik_worker_replicas }}
{% if authentik_worker_resources is defined %}
  resources:
{{ authentik_worker_resources | to_nice_yaml(indent=2) | indent(4, true) }}
{% endif %}

postgresql:
  enabled: true
  auth:
    username: authentik
    database: authentik
    existingSecret: {{ authentik_runtime_secret_name }}
  primary:
    persistence:
      enabled: true
      storageClass: {{ authentik_postgresql_storage_class }}
      size: {{ authentik_postgresql_storage_size }}
